@inherits LayoutComponentBase

<div class="page">
    <NavMenu />
    <main>
        <div class="top-row px-8" style="display: block; text-align: left; align-content: center;">

            <a href="https://localhost:7113/user/Add" style="text-decoration: none; color: black;" target="_blank">Add User</a>
            <a href="https://docs.microsoft.com/aspnet/" style="text-decoration: none; color: black;" target="_blank">About</a>
        </div>
        <article class="content px-4" id="content">
            @Body
        </article>
    </main>
</div>

<style>
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: Arial, sans-serif;
    }

    .page {
        display: flex;
        height: 100%;
    }

    main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .top-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #f8f9fa;
        padding: 1rem;
    }

    #content {
        flex-grow: 1;
        padding: 1rem;
    }

    #toggle-button {
        cursor: pointer;
       /*  margin-top: 3%; */
        position: center;
    }

        #toggle-button:hover {
            background: lightblue;
        }

    .hidden-sidebar .sidebar {
        width: 40px;
    }
    

    .hidden-sidebar main {
        transition: margin-left 0.3s ease;
    }

    media (max-width: 768px) {
        .page

    {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: 50px;
    }

    main {
        margin-top: 50px;
    }
    }
</style>


